@font-face {
    font-display: swap;
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/IRANSansWeb.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: IRANSansBold;
    font-style: normal;
    font-weight: 700;
    src:url(./fonts/IRANSansWeb_Bold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: IconFontFace;
    src: url(./fonts/Icon.woff?v3) format("woff")
}
