$img-base-url: '/cms' !default;

:root {
	--img-base-url: #{$img-base-url};
	--img-footer: url(#{#{$img-base-url}+"/footer_back.jpg"});
	--img-sub-menu: url(#{#{$img-base-url}+"/sub_menu.jpg"});
	--img-logo: url(#{#{$img-base-url}+"/logo.png"});
}
//
$color_1: inherit;
$color_2: #fff;
$color_3: #000;
$color_4: #575757;
$color_5: #a5a5a5;
$color_6: #4b4b4b;
$color_7: #878787;
$color_8: #c3c3c3;
$color_9: #ff515b;
$color_10: #444;
$color_11: #dcdcdc;
$color_12: #868686;
$color_13: #525252;
$color_14: #d4ceb3;
$color_15: #ff6c7a;
$color_16: #535353;
$color_17: #c6c6c6;
$color_18: red;
$color_19: #a3a3a3;
$color_20: #cacaca;
$color_21: gray;
$color_22: #9f9f9f;
$color_23: #fc666f;
$color_24: #afafaf;
$color_25: #d1d1d1;
$color_26: #414141;
$color_27: #50b662;
$color_28: #f2f2f2;
$color_29: #e95350;
$color_30: #41c45a;
$color_31: #6a6a6a;
$color_32: #888;
$color_33: #dd4852;
$color_34: #2b2b2b;
$color_35: #818081;
$color_36: #333;
$color_37: #11b95f;
$color_38: #aaa;
$color_39: #3f3f3f;
$color_40: #656565;
$color_41: #ff8182;
$color_42: #fc515a;
$color_43: #ffc958;
$color_44: #787878;
$color_45: #262626;
$color_46: #ff646c;
$color_47: #757575;
$color_48: #ff515a;
$color_49: #777;
$color_50: #e6b741;
$color_51: #9d9d9d;
$color_52: #79a8f0;
$color_53: #58dc65;
$color_54: #ff9ba3;
$color_55: #b9b9b9;
$color_56: #fb505d;
$color_57: #929292;
$color_58: #909090;
$color_59: #dbdbdb;
$color_60: #707070;
$color_61: #90908e;
$color_62: #3d3d3b;
$color_63: #525250;
$color_64: #505050;
$color_65: #484848;
$color_66: #e85c5b;
$color_67: #b2b2b2;
$color_68: #ff6f78;
$color_69: #ebebeb;
$color_70: #c1c1c1;
$color_71: #969696;
$color_72: #e9e9e9;
$color_73: #3c3c3c;
$color_74: #919191;
$color_75: #bbb;
$color_76: #fe535c;
$color_77: #606060;
$color_78: #fd525a;
$color_79: #c9c9c9;
$color_80: #ff505b;
$color_81: #4c4c4c;
$color_82: #f5c255;
$color_83: #ffae00;
$color_84: #c5c5c5;
$color_85: #666;
$color_86: #ff505d;
$color_87: rgba(255, 81, 91, 0.8);
$color_88: #ff9ca2;
$color_89: #b7b7b7;
$color_90: #a6a6a6;
$color_91: #bfbfbf;
$color_92: #747474;
$color_93: #a0a0a0;
$color_94: #ff525c;
$color_95: #737373;
$color_96: #767676;
$color_97: #ff525b;
$color_98: #a9a9a9;
$color_99: #e85164;
$color_100: #5c5c5c;
$color_101: #a1a1a1;
$color_102: #41c558;
$color_103: #979797;
$color_104: #cbcbcb;
$color_105: #565656;
$color_106: #515151;
$color_107: #424242;
$color_108: #2d2d2d;
$color_109: #62a1fe;
$color_110: #d2d2d2;
$color_111: #bababa;
$color_112: #7b7b7b;
$color_113: #a7a5a6;
$color_114: #989898;
$color_115: #464646;
$color_116: #9c9c9c;
$color_117: #ff505a;
$color_118: #1ba953;
$color_119: #9e9e9e;
$color_120: #fe525e;
$color_121: #f6c255;
$color_122: #bcbcbc;
$color_123: #898989;
$color_124: #ff4f5a;
$color_125: #8b8b8b;
$color_126: #ff575e;
$color_127: #949494;
$color_128: #ff4a5f;
$color_129: #adadad;
$color_130: #65cb77;
$color_131: #fda1a6;
$color_132: #b5b5b5;
$color_133: #d4cb92;
$color_134: #42c55d;
$color_135: silver;
$color_136: #ea8a8f;
$color_137: #363636;
$color_138: #02a854;
$color_139: #a4a4a4;
$color_140: #23bb6e;
$color_141: #353535;
$color_142: #f3c23f;
$color_143: #6b6b6b;
$color_144: #4e4e4e;
$color_145: #6d6d6d;
$color_146: #e74248;
$color_147: #a8a8a8;
$color_148: #303030;
$color_149: #f4c24f;
$color_150: #9a9a9a;
$color_151: #b6b6b6;
$color_152: #9d9b9c;
$color_153: #323232;
$color_154: #fd525b;
$color_155: #1a90ce;
$color_156: #5e5e5e;
$color_157: #6c6c6c;
$color_158: #39aa4e;
$color_159: #d8d8d8;
$color_160: #36b04d;
$color_161: #a77ae3;
$color_162: #848484;
$color_163: #2f2f2f;
$color_164: #d9d9d9;
$color_165: #585858;
$color_166: #41c659;
$color_167: #ababab;
$color_168: #e3e3e3;
$color_169: #41c45c;
$color_170: #f3c040;
$color_171: #526fef;
$color_172: #313131;
$color_173: #40c457;
$color_174: #545454;
$color_175: #ef7777;
$color_176: #dadada;
$color_177: #65b96c;
$color_178: #454545;
$color_179: #416dce;
$color_180: #cecece;
$color_181: #c7c7c7;
$color_182: #ff052b;
$color_183: #40cc52;
$color_184: #f6555a;
$color_185: #676767;
$color_186: #636363;
$color_187: #5a5a5a;
$color_188: #2aab2a;
$color_189: #f2c0c3;
$color_190: initial;
$color_191: #999;
$color_192: hsla(0, 0%, 100%, 0);
$color_193: rgba(0, 0, 0, 0.2);
$font-family_1: IconFontFace;
$font-family_2: IRANSans;
$font-family_3: inherit;
$font-family_4: IRANSansBold;
$font-family_5: monospace;
$background-color_1: #ff5963;
$background-color_2: #ff6c7a;
$background-color_3: hsla(0, 0%, 95%, 0.95);
$background-color_4: #ff515b;
$background-color_5: #ebebeb;
$background-color_6: initial;
$background-color_7: #fff;
$background-color_8: rgba(255, 80, 91, 0.2);
$background-color_9: #f3f3f3;
$background-color_10: #ffeff3;
$background-color_11: #ff4f5a;
$border-color_1: #e1e1e1;
$border-color_2: #fff;
$border-color_3: #b9b9b9;
$border-color_4: #cacaca;
$border-color_5: #ff515b;
$border-color_6: #41c45a;
$border-color_7: #f3c23f;
$border-color_8: #1a90ce;
$border-color_9: #23bb6e;
$border-color_10: #39aa4e;
$border-color_11: #a77ae3;
$border-color_12: transparent;
$border-color_13: inherit;
$border-color_14: #ebebeb;
$border-color_15: #40c457;
$border-color_16: #ff4f5a #ff4f5a transparent transparent;
$border-top-color_1: #b4b4b4;
$border-top-color_2: #fc515a;
$border-right-color_1: #fff;
$border-right-color_2: #fc515a;
$border-bottom-color_1: #fc515a;
$border-bottom-color_2: #ff515b;
$border-bottom-color_3: #339644;
$border-bottom-color_4: #c33d44;
$border-left-color_1: #fc515a;
